<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1">
    <test name="ExecutionDemo">
        <classes>
            <class name="test.AnotherClassDemo"/>
            <class name="test.SingleClassDemo"/>
			<class name="test.SubClassDemo"/>
			<class name="test.SubsubClassDemo"/>
        </classes>
    </test>
	<test name="SnigleDemo">
        <classes>
            <class name="test.AnotherClassDemo"/>
        </classes>
    </test>
	<test name="NestedClassesDemo">
        <classes>
            <class name="test.SubsubClassDemo"/>
        </classes>
    </test>
</suite>